/* .montserrat-<uniquifier> {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
  } */
/* 
.source-code pro-<uniquifier> {
  font-family: "Source Code Pro", monospace;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}  */

/* Adds root styling for main colours of the webpage */
:root {
  --bs-primary: #604aa1;
  --bs-primary-rgb: 96, 74, 161; 
  --bs-secondary: #C14462;
  --bs-secondary-rgb: 193, 68,98;
}

html {
  font-family: "Montserrat", sans-serif;
}

a {
  color: inherit;
}

.navbar {
  --bs-navbar-color: #9A9CCC;
  --bs-navbar-hover-color: var(--bs-secondary);
  --bs-navbar-disabled-color: rgba(var(--bs-emphasis-color-rgb), 0.3);
  --bs-navbar-active-color: rgb(255,255,255);
  --bs-navbar-brand-color: #9A9CCC;
  --bs-navbar-brand-hover-color: var(--bs-secondary);
}

.navbar-toggler {
  padding: var(--bs-navbar-toggler-padding-y) var(--bs-navbar-toggler-padding-x);
  font-size: var(--bs-navbar-toggler-font-size);
  line-height: 1;
  color: rgb(255,255,255);
  background-color: var(--bs-secondary);
  border: var(--bs-border-width) solid rgb(255,255,255);
  border-radius: var(--bs-navbar-toggler-border-radius);
  transition: var(--bs-navbar-toggler-transition);
}

.navbar-brand {
  font-family: "Source Code Pro", monospace;
}

h1 {
  color: var(--bs-primary);
  font-family: "Source Code Pro", monospace;
}

.h4 {
  color: var(--bs-secondary);
  font-family: "Source Code Pro", monospace;
}

h2 {
  color: var(--bs-secondary);
  font-family: "Source Code Pro", monospace;
}

h3 {
  color: var(--bs-primary);
  font-family: "Source Code Pro", monospace;
}

h5 {
  font-family: "Source Code Pro", monospace;
}


.btn-primary {
  --bs-btn-color: #fff;
  --bs-btn-bg: var(--bs-secondary);
  --bs-btn-border-color: var(--bs-secondary);
  --bs-btn-hover-color: var(--bs-secondary);
  --bs-btn-hover-bg: #fff;
  --bs-btn-hover-border-color: var(--bs-secondary);
  --bs-btn-focus-shadow-rgb: var(--bs-primary);
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: var(--bs-primary);
  --bs-btn-active-border-color:var(--bs-primary);
}

.card {
  --bs-card-spacer-y: 1rem;
  --bs-card-spacer-x: 1rem;
  --bs-card-title-spacer-y: 0.5rem;
  --bs-card-title-color: var(--bs-primary) ;
  --bs-card-border-color:var(--bs-primary) ;
}

.form-label {
  font-family: "Source Code Pro", monospace;
  color: var(--bs-secondary);
} 

.form-control {
  color: var(--bs-primary) ;
  border: var(--bs-border-width) solid var(--bs-primary) ;
}

.color-fill {
background: rgb(238,174,202);
background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
border-radius: 360px;
}
/* Adds the animate.style  */

.my-element:hover {
  display: inline-block;
  margin: 0 0.5rem;

  animation: heartBeat; /* referring directly to the animation's @keyframe declaration */
  animation-duration: infinite; /* don't forget to set a duration! */
}





